@media (min-width: 1280px) {
    .list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

    .list-container > li {
        flex: 0 50%;
     } 

    .individual-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .individual-card-container > div {
        flex: 0 50%;
    }

    .individual-card-container > div {
        flex: 0 50%;
    }
}