@media (max-width: 500px) {
    .list-container {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
    }

    .individual-card-container {
        min-width: 300px;
    } 
/*     
    .list-container > li {
        flex-basis: 100%;
        width: 100%;
    } 
    
    .individual-card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */
}