@media (min-width: 768px) and (max-device-width: 1000px) {
    .list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

    .list-container > li {
        min-width: 700px;
     } 

     .individual-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .individual-card-container > div {
        flex: 0 50%;
    }

}