@media (min-width: 1024px) and (max-device-width: 1200px) {
    .list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

    .list-container > li {
        flex: 0 50%;
     } 

    .individual-card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}