@media (min-width: 1280px) {
    .list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

    .list-container > li {
        flex: 0 50%;
     } 

    .individual-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .individual-card-container > div {
        flex: 0 50%;
    }

    time {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: white;
        color: #184269;
        padding: 5px;
        border-radius: 2px;
    }

    .card-title {
        margin-left: 10px;
    }
    
    p {
        margin-left: 10px;
    }

}